# **Python Patterns Programming**

## What is Pattern Programming in Python?

Pattern Programming in Python refers to writing code that generates specific visual patterns using loops (mostly nested loops).

These patterns can be in the form of:

- Stars (★)
- Numbers
- Alphabets
- Pyramids, triangles, diamonds, etc.

## It’s a common and powerful way to strengthen your understanding of:

- Nested loops (for, while)

- Conditional statements (if-else)

- Flow control

- Logical thinking and dry run skills

## Why Learn Pattern Programming?

Here are the key benefits:

1. Improves Logic Building:

  - You start visualizing loops and conditions better.

  - Helps build a strong foundation in control structures.

2. Enhances Problem-Solving Skills:

  - You practice how to break down big problems into smaller steps.

  - Useful for coding interviews and competitive programming.

3. Mastery of Loops and Iteration:

  - You get hands-on experience with nested loops and range().

  - You understand row-column iteration patterns deeply.

4. Helps in Interviews:

  - Many coding interviews (especially for freshers) ask pattern-based questions.

  - It shows your control over logic and clean coding skills.

### Understanding For Loop – Internal Working with Dry Run

### 1. Simple for loop

In [ ]:
for i in range(1, 4):
    print(i)

1
2
3

 **Dry Run Table:**

| Iteration | i (from range) | print() Output     |
|-----------|----------------|--------------------|
| 1         | 1              | Value of i: 1      |
| 2         | 2              | Value of i: 2      |
| 3         | 3              | Value of i: 3      |

### 2. Simple for loop with step 2

In [ ]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

#### **Explanation of range(1, 11, 2):**

- start = 1

- stop = 11 (not inclusive)

- step = 2 → It increases i by 2 on each iteration

 **Dry Run Table:**

| Iteration | i Value | print(i) Output                     |
|-----------|---------|-------------------------------------|
| 1         | 1       | 1                                   |
| 2         | 3       | 3                                   |
| 3         | 5       | 5                                   |
| 4         | 7       | 7                                   |
| 5         | 9       | 9                                   |
| 6         | 11      | loop stops (since 11 is not < 11) |

## Understanding Nested Loops in Python: Printing **i** Values

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(i)

1
1
1
1
1
2
2
2
2
2
3
3
3
3
3
4
4
4
4
4
5
5
5
5
5

### What this code does:

- Outer loop i runs from 1 to 5 (inclusive)

- Inner loop j runs from 1 to 5 (inclusive)

- Inside the inner loop, it prints the current value of i

---

**Dry Run / Output Explanation:**

| Outer loop (i) | Inner loop (j) values | Printed values (i)  |
|----------------|-----------------------|--------------------|
| 1              | 1, 2, 3, 4, 5         | 1 1 1 1 1          |
| 2              | 1, 2, 3, 4, 5         | 2 2 2 2 2          |
| 3              | 1, 2, 3, 4, 5         | 3 3 3 3 3          |
| 4              | 1, 2, 3, 4, 5         | 4 4 4 4 4          |
| 5              | 1, 2, 3, 4, 5         | 5 5 5 5 5          |

## Understanding Nested Loops in Python: Printing **j** Values

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(j)

1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5
1
2
3
4
5


## What’s happening here?
- Outer loop (i) runs 5 times: from 1 to 5.

- Inner loop (j) runs fully for each iteration of i: from 1 to 5.

- The code prints the current value of j in every iteration of the inner loop.


**Dry Run Table**

| Outer Loop i | Inner Loop j | Printed Value |
|--------------|--------------|---------------|
| 1            | 1            | 1             |
| 1            | 2            | 2             |
| 1            | 3            | 3             |
| 1            | 4            | 4             |
| 1            | 5            | 5             |
| 2            | 1            | 1             |
| 2            | 2            | 2             |
| 2            | 3            | 3             |
| 2            | 4            | 4             |
| 2            | 5            | 5             |
| 3            | 1            | 1             |
| 3            | 2            | 2             |
| 3            | 3            | 3             |
| 3            | 4            | 4             |
| 3            | 5            | 5             |
| 4            | 1            | 1             |
| 4            | 2            | 2             |
| 4            | 3            | 3             |
| 4            | 4            | 4             |
| 4            | 5            | 5             |
| 5            | 1            | 1             |
| 5            | 2            | 2             |
| 5            | 3            | 3             |
| 5            | 4            | 4             |
| 5            | 5            | 5             |


### Explanation:
- For each value of i from 1 to 5, the inner loop runs completely.

- Inner loop runs with j from 1 to 5 and prints each j.

- Total prints = 5 (outer) × 5 (inner) = 25 lines.

**Key Point:**

- Nested loops allow repeating a process multiple times inside another repeated process.

- Printing j shows how the inner loop runs completely for every single outer loop iteration.

## Nested Loop Example: Printing (i, j) pairs

In [ ]:
for i in range(1, 3):
    for j in range(i):
        print(i, j)

1 0
2 0
2 1

## What’s happening here?

- Outer loop i runs from 1 to 2 (because range(1,3) includes 1 and 2).

- Inner loop j runs from 0 up to i-1.

  - When i=1, inner loop runs once with j=0.

  - When i=2, inner loop runs twice with j=0 and j=1.

- Prints the current values of i and j on each inner loop iteration.

**Dry Run Table:**

| i | j values in range(i) | Printed Output |
|---|-----------------------|----------------|
| 1 | 0                     | 1 0            |
| 2 | 0, 1                 | 2 0            |
|   |                       | 2 1            |

In [ ]:
for i in range(1, 3):
    for j in range(1, 3):
        for k in range(1, 3):
            print(i, j, k)

1 1 1
1 1 2
1 2 1
1 2 2
2 1 1
2 1 2
2 2 1
2 2 2

**Dry Run Table**

| Iteration | i | j | k | Printed Output |
|-----------|---|---|---|----------------|
| 1         | 1 | 1 | 1 | 1 1 1          |
| 2         | 1 | 1 | 2 | 1 1 2          |
| 3         | 1 | 2 | 1 | 1 2 1          |
| 4         | 1 | 2 | 2 | 1 2 2          |
| 5         | 2 | 1 | 1 | 2 1 1          |
| 6         | 2 | 1 | 2 | 2 1 2          |
| 7         | 2 | 2 | 1 | 2 2 1          |
| 8         | 2 | 2 | 2 | 2 2 2          |



### **Explanation:**
- The outer loop controls i (1 to 2)

- The middle loop controls j (1 to 2)

- The inner loop controls k (1 to 2)

For every combination of i, j, and k, we print them

## Print Multiplication Table using Nested Loops

In [ ]:
for i in range(1, 4):     # Rows
    for j in range(1, 6): # Columns
        print(i * j, end=' ')
    print()  # Newline

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15

**Dry Run Table**

| i | j Values         | Printed Output        |
|---|------------------|------------------------|
| 1 | 1 2 3 4 5        | 1 2 3 4 5              |
| 2 | 1 2 3 4 5        | 2 4 6 8 10             |
| 3 | 1 2 3 4 5        | 3 6 9 12 15            |


## This structure prints:

Multiplication table row for i = 1 with j from 1 to 5

- Then i = 2 with j from 1 to 5

- And i = 3 with j from 1 to 5

In [ ]:
lst = [10,20,40,60,80,90]
for i in range(len(lst)):
  print(lst[i])

10
20
40
60
80
90

###   Write a Python program to print the following Star Pattern (Right-angled Triangle):

    *
    **
    ***
    ****
    *****

In [ ]:
for i in range(1,6):
  print(i *"*")

*
**
***
****
*****

In [ ]:
for i in range(1, 5):
    for j in range(1, i+1):
        print("*", end=' ')
    print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,6):
  print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *

## Number Triangle

In [ ]:
for i in range(1, 5):
    for j in range(1, i+1):
        print(j, end=' ')
    print()

1
1 2
1 2 3
1 2 3 4

### Write a Python program to print the following inverted star pattern:





      *****
      ****
      ***
      **
      *

In [1]:
for i in range(5,0,-1):
  print(i*"*")

*****
****
***
**
*

In [5]:
def inverse_pattern(n):
    for i in range(n, 0, -1):
        print(i * "* ")

inverse_pattern(8)

* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*


### Write a python program for Right-Aligned Star Triangle Pattern

![image.png]()

In [6]:
for i in range(1,6):
  print((5-i)*" " + i*"*")

    *
   **
  ***
 ****
*****

In [15]:
def right_triangle(n):
  for i in range(1,n+1):
    line = " "*(n-i) +"*"*i
    print(line)

right_triangle(5)

    *
   **
  ***
 ****
*****

### Write a Python program to print the following number pattern:


    1
    22
    333
    4444
    55555

In [ ]:
for i in range(1,6):
  print(str(i)*i)

1
22
333
4444
55555

## Number Triangle Pattern using Nested Loops

In [ ]:
n = 5
for i in range(1, n + 1):
    for j in range(i):
        print(i, end='')
    print()

1
22
333
4444
55555

In [20]:
def number_triangle(n):
  for i in range(1,n+1):
    for j in range(i):
      print(i,end = " ")
    print()

number_triangle(8)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8


### Write a Python program to print the following pattern:

    *****
    *****
    *****
    *****
    *****

In [24]:
for i in range(0,6):
  print(5*"*")

*****
*****
*****
*****
*****
*****

In [ ]:
rows = 5
cols = 5

for i in range(rows):
    for j in range(cols):
        print('*', end='')
    print()

In [25]:
def patterns(rows,cols):
  for i in range(rows):
    for j in range(cols):
      print("*",end = "")
    print()

In [28]:
patterns(5,5)

*****
*****
*****
*****
*****

**Explanation:**

- Two nested loops for rows and columns.

- Print '*' for every position.

- end='' keeps stars on the same line.

- print() moves to next line after each row.

### Write a Python program to print the following pattern:
    0 1 2 3 4
    0 1 2 3 4
    0 1 2 3 4
    0 1 2 3 4
    0 1 2 3 4

In [38]:
rows = 5
cols = 5

for i in range(rows):
  for j in range(cols):
    print(j,end =" ")
  print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

**Explanation:**

- Outer loop runs 5 times (rows).

- Inner loop prints numbers from 0 to 4 (j).

- end=' ' keeps numbers separated by space on the same line.

- print() moves to next line after each row.

### Write a Python program to print the following pattern:

    11111
    22222
    33333
    44444
    55555

In [ ]:
for i in range(1,6):
  print(str(i)*5)

11111
22222
33333
44444
55555

In [39]:
n = 5
for i in range(1, n + 1):
    print(str(i) * n)

11111
22222
33333
44444
55555

**Explanation:**

- Loop from 1 to 5.
- For each i, print the number i repeated n times.
- str(i) * n creates the string with repeated digits.

### Write a Python program to print the following pattern:


    5 4 3 2 1
    5 4 3 2 1
    5 4 3 2 1
    5 4 3 2 1
    5 4 3 2 1

In [ ]:
for i in range(5,1,-1):
  print(str(i)*5)

55555
44444
33333
22222

In [40]:
rows = 5
cols = 5

for i in range(rows):
    for j in range(cols, 0, -1):
        print(j, end=' ')
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [43]:
rows = 5
cols = 5

for i in range(rows):
  for j in range(cols,0,-1):
    print(j,end = " ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

# What is ASCII?

ASCII (American Standard Code for Information Interchange) is a character encoding standard where:

- Each character (like 'A', 'z', '0', etc.) is assigned a numeric code between 0 and 127.

- Python (and most programming languages) uses this under the hood when dealing with characters.

### **Character Ranges**

| Characters         | Range     | ASCII Values |
|--------------------|-----------|--------------|
| Uppercase letters  | 'A' to 'Z'| 65 to 90     |
| Lowercase letters  | 'a' to 'z'| 97 to 122    |
| Digits             | '0' to '9'| 48 to 57     |

## Print Alphabet Pattern (A to E)

    A B C D E
    A B C D E
    A B C D E
    A B C D E
    A B C D E

In [ ]:
rows = 5
cols = 5

for i in range(rows):
    for j in range(cols):
        # chr(65) is 'A', so chr(65 + j) will print A, B, C, D, E
        print(chr(65 + j), end=' ')
    print()

In [49]:
rows = 5
cols = 5

for i in range(rows):
  for j in range(cols):
    print(chr(65+j),end = " ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E


**Explanation:**

- ASCII code for 'A' is 65.

- chr(65 + j) converts ASCII code to character.

- Inner loop prints characters from 'A' to 'E'.

- Outer loop prints 5 rows.

## Print pattern of letters increasing each row

    A
    A B
    A B C
    A B C D
    A B C D E

In [61]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end = " ")
  print()

A
B B
C C C
D D D D
E E E E E

In [60]:
rows = 5

for i in range(rows):
    for j in range(i + 1):
        print(chr(65 + j), end=' ')
    print()

A
A B
A B C
A B C D
A B C D E

### Write a Python program to print the following pattern:

    A A A A A
    B B B B B
    C C C C C
    D D D D D

In [59]:
rows= 4
cols = 5
for i in range(rows):
  for j in range(cols):
    # chr(65) = 'A', so chr(65 + i) will print A, B, C, D for each row
    print(chr(65+i),end=" ")
  print()

A A A A A
B B B B B
C C C C C
D D D D D

### Write a Python program to print the following alphabet pattern:

    A
    A B
    A B C
    A B C D
    A B C D E

In [ ]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(i),end = " ")
  print()

A
B B
C C C
D D D D
E E E E E

In [ ]:
for i in range(65,70):
  for j in range(65,i+1):
    print(chr(j),end = " ")
  print()

A
A B
A B C
A B C D
A B C D E

### Reverse Alphabet Triangle

    E E E E E
    D D D D
    C C C
    B B
    A

In [62]:
rows = 5

for i in range(rows, 0, -1):
    for j in range(i):
        print(chr(65 + rows - i), end=' ')
    print()

A A A A A
B B B B
C C C
D D
E

## Alphabet Pyramid

       ![image.png]()

### Write a Python program to print the following triangle pattern

![image.png]()

In [63]:
rows = 5

for i in range(rows):
    print(' ' * (rows - i - 1), end='')
    for j in range(i + 1):
        print(chr(65 + i), end=' ')
    print()

    A
   B B
  C C C
 D D D D
E E E E E

## Alphabet Pattern with Incremental Characters Each Row

    A B C D E
    B C D E F
    C D E F G
    D E F G H
    E F G H I

In [64]:
rows = 5
cols = 5

for i in range(rows):
    for j in range(cols):
        print(chr(65 + i + j), end=' ')
    print()

A B C D E
B C D E F
C D E F G
D E F G H
E F G H I

In [ ]:
# pyramid

for i in range(5):
  for j in range(5-i-1):
    print(" ",end = " ")
  for j in range(2*i+1):
    print("*",end = " ")
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

## Write a Python program to print the following triangle pattern
                           
                           *
                          * * *
                        * * * * *
                      * * * * * * *
                    * * * * * * * * *
                  * * * * * * * * * * *
                * * * * * * * * * * * * *
              * * * * * * * * * * * * * * *
            * * * * * * * * * * * * * * * * *
          * * * * * * * * * * * * * * * * * * *

In [65]:
n = 10
for i in range(n):
  for j in range(n-i-1):
    print(" ",end = " ")
  for j in range(2*i+1):
    print("*",end = " ")
  print()

                  *
                * * *
              * * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [66]:
n = 10
for i in range(n):
  print(" "*(n-i-1)+"*"*(2*i+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [67]:
n = 10
for i in range(n):
  print(" "*(n-i-1)+"*"*(2*i+1))

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************
*******************

In [ ]:
n = 5
for i in range(n):
    print(" " * (n - i - 1) + "* " * (i + 1))

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
n = 5
for i in range(n):
  print(" "*(n-i-1)+"*"*(2*i+1))

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range(n):
  print(" "*(n-i-1)+"*"*(i+1))

    *
   **
  ***
 ****
*****

In [68]:
n = 5
for i in range(n, 0, -1):
    print(" " * (n - i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *


### Write a Python program to print the following diamond star pattern

  ![image.png]()

In [72]:
rows = 5  # Height of the upper half

# Upper half of the diamond (including middle line)
for i in range(rows):
    print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

# Lower half of the diamond
for i in range(rows - 2, -1, -1):
    print(' ' * (rows - i - 1) + '*' * (2 * i + 1))

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *


### Write a Python program to print the following pattern

![image.png]()

In [ ]:
n = 5
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(2 * i + 1):
        if j == 0 or j == 2 * i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

for i in range(n - 2, -1, -1):
    for j in range(n - i - 1):
        print(" ", end="")
    for j in range(2 * i + 1):
        if j == 0 or j == 2 * i:
            print("*", end="")
        else:
            print(" ", end="")
    print()

    *
   * *
  *   *
 *     *
*       *
 *     *
  *   *
   * *
    *

### Write a Python program to print the following pattern

![image.png]()

In [ ]:
n = 5
for i in range(n, 0, -1):
    print(" " * (n - i) + "* " * i)
for i in range(1, n + 1):
    print(" " * (n - i) + "* " * i)

* * * * *
 * * * *
  * * *
   * *
    *
    *
   * *
  * * *
 * * * *
* * * * *

### Write a Python program to print the following pattern

![image.png]()

In [ ]:
n = 5
for i in range(n):
    for j in range(n):
        if i == 0 or i == n-1 or j == 0 or j == n-1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

* * * * *
*       *
*       *
*       *
* * * * *

## Write a Python program to print the following pattern

![image.png]()

In [ ]:
n = 7
for i in range(n):
    for j in range(n):
        if j == i or j == n - i - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

In [ ]:
n = 7
for i in range(n):
    for j in range(n):
        if j == i or j == n - i - 1:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*           *
  *       *
    *   *
      *
    *   *
  *       *
*           *

### Hollow Right-Angle Triangle

![image.png]()

In [ ]:
n = 5
for i in range(1, n+1):
    for j in range(1, i+1):
        if j == 1 or j == i or i == n:
            print("*", end=" ")
        else:
            print(" ", end=" ")
    print()

*
* *
*   *
*     *
* * * * *

### Left Pascal's Triangle

![image.png]()

In [73]:
rows = 5

# Upper half (including middle)
for i in range(1, rows + 1):
    print(' ' * (rows - i) + '*' * i)

# Lower half
for i in range(rows - 1, 0, -1):
    print(' ' * (rows - i) + '*' * i)

    *
   **
  ***
 ****
*****
 ****
  ***
   **
    *

**Explanation:**

The upper half increases stars from 1 to 5, with leading spaces to push them to the right.

- The lower half mirrors the upper half (excluding the middle row).

- ' ' * (rows - i) handles the alignment.

- '*' * i prints the required number of stars.

## 👨‍💻 Created by:
**Deepraj** – *Data Scientist | AI Educator | Content Creator*

---

📌 [LinkedIn](https://www.linkedin.com/in/deeprajvadhwane/)  
💻 [GitHub](https://github.com/DeeprajVadhwane)  

🎓 **YouTube:** *Learn with Deepraj*



            
## **Happy Learning**