# üì± iPhone Retail Data Analytics Pipeline

A complete end-to-end analytics workflow that transforms raw iPhone retail data into meaningful business insights using **Python (Pandas)**, **SQL**, and **Power BI**.

This capstone project demonstrates real industry practice and showcases the ability to build a full analytics pipeline from raw data ‚Üí analysis ‚Üí visualization.

---

##  Project Overview

This project is executed across three main stages:

### üîπ [Spirit 1 ‚Äî Python (Pandas)](#-spirit-1-python-pandas--data-preparation--eda)
Data cleaning, transformation, and exploratory analysis.

### üîπ [Spirit 2 ‚Äî SQL](https://github.com/yourusername/spirit2-sql)
Click to open the SQL repository.

### üîπ [Spirit 3 ‚Äî Power BI](https://github.com/yourusername/spirit3-powerbi)
Click to open the Power BI repository.

---

#  Spirit 1: Python (Pandas) ‚Äî Data Preparation & EDA

##  Data Cleaning

- Standardized column names, data types, and formats  
- Removed duplicates and handled missing values  
- Validated relationships between tables (products, stores, sales)  
- Generated clean, analysis-ready datasets for SQL and Power BI  

## üìä Exploratory Data Analysis

Key questions explored:

- Total number of product records  
- Unique product count  
- Average and highest product price  
- Category-wise product distribution  
- Total quantity sold  
- Store-wise revenue  
- Monthly sales trends  
- Product-wise revenue  
- Average customer rating (if available)

These insights highlight pricing trends, sales patterns, product demand, and store performance.

---

#  Spirit 2 ‚Äî SQL (Structured Analysis)

üëâ **Click here to open the SQL repository:**  
https://github.com/yourusername/spirit2-sql

The SQL component includes:

- Database schema design  
- Table creation & normalization  
- Importing cleaned datasets into SQL  
- Business logic queries  
- KPI-driven analytical queries  
- Data extraction for Power BI  

---

#  Spirit 3 ‚Äî Power BI (Dashboard & Reporting)

üëâ **Click here to open the Power BI repository:**  
https://github.com/yourusername/spirit3-powerbi

Power BI deliverables:

- KPI summaries (Revenue, Quantity Sold, Total Orders)  
- Product & Category performance insights  
- Store comparison dashboard  
- Monthly sales trends  
- Interactive slicers for dynamic filtering  

---
#  Tech Stack

- **Python** (Pandas, Matplotlib/Seaborn)  
- **SQL** (MySQL / PostgreSQL)  
- **Power BI** (DAX, Interactive Visuals)

In [1]:
# Libraries Required
import pandas as pd
import numpy as np
import os

In [2]:
# Load datasets
category = pd.read_csv("category.csv")
Iphone_17 = pd.read_csv("Iphone_17.csv")
products = pd.read_csv("products.csv")
sales = pd.read_csv("sales.csv")
stores = pd.read_csv("stores.csv")
warranty = pd.read_csv("warranty.csv")

# DATA CLEANING PIPELINE

In [3]:
# Display first 5 rows
def check_head(df, name="DataFrame"):
    print(f"\n===== {name} | First 5 Rows =====")
    print(df.head())

### Summarize dataset

In [4]:

def summarize(df, name="DataFrame"):
    print(f"\n===== {name} Summary =====")
    print(df.info())
    print(df.describe(include='all'))
    print("Missing Values:\n", df.isnull().sum())
    print("Duplicates:", df.duplicated().sum())
    print(f"Shape: {df.shape}")

### Standardize column names

In [5]:

def clean_column_names(df):
    df.columns = (
        df.columns
        .str.strip()
        .str.lower()
        .str.replace(" ", "_")
        .str.replace("-", "_")
    )
    return df

### Remove duplicates

In [6]:
def remove_duplicates(df, name="DataFrame"):
    before = df.shape[0]
    df = df.drop_duplicates()
    after = df.shape[0]
    print(f"{name}: Removed {before - after} duplicate rows")
    return df

### Strip text columns

In [7]:
def strip_text_columns(df):
    for col in df.select_dtypes(include="object"):
        df[col] = df[col].astype(str).str.strip()
    return df

### Handle missing values

In [8]:
def clean_missing(df, name="DataFrame"):
    print(f"\n{name} Missing Value Summary (Before Cleaning):")
    print(df.isnull().sum())
    df = df.fillna({
        col: df[col].mode()[0] if df[col].dtype == "object"
        else df[col].median()
        for col in df.columns
        if df[col].isnull().sum() > 0
    })
    print(f"{name}: Missing values handled")
    return df

### Fix common data types

In [9]:

def fix_dtypes(df):
    for col in df.columns:
        if "date" in col or "time" in col or "since" in col:
            df[col] = pd.to_datetime(df[col], errors="ignore")
        if "id" in col:
            df[col] = df[col].astype(str)
    return df

In [10]:
def clean_dataset(df, name):
    df = clean_column_names(df)
    df = remove_duplicates(df, name)
    df = strip_text_columns(df)
    df = clean_missing(df, name)
    df = fix_dtypes(df)
    summarize(df, name)
    return df

### Apply Cleaning Pipeline

In [11]:

category_cleaned = clean_dataset(category, "Category")
Iphone_17_cleaned = clean_dataset(Iphone_17, "Iphone_17")
products_cleaned = clean_dataset(products, "Products")
sales_cleaned = clean_dataset(sales, "Sales")
stores_cleaned = clean_dataset(stores, "Stores")
warranty_cleaned = clean_dataset(warranty, "Warranty")

Category: Removed 0 duplicate rows

Category Missing Value Summary (Before Cleaning):
category_id      0
category_name    0
dtype: int64
Category: Missing values handled

===== Category Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    10 non-null     object
 1   category_name  10 non-null     object
dtypes: object(2)
memory usage: 292.0+ bytes
None
       category_id category_name
count           10            10
unique          10            10
top          CAT-1        Laptop
freq             1             1
Missing Values:
 category_id      0
category_name    0
dtype: int64
Duplicates: 0
Shape: (10, 2)
Iphone_17: Removed 0 duplicate rows

Iphone_17 Missing Value Summary (Before Cleaning):
product_name         0
price                0
rom                  0
display              0
camera               0
product_processor    0
color                0
dtype: int64
Iphone_17: Missing values handled

===== Iphone_17 Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   product_name       96 non-null     object
 1   price              96 non-null     int64
 2   rom                96 non-null     object
 3   display            96 non-null     float64
 4   camera             96 non-null     int64
 5   product_processor  96 non-null     object
 6   color              96 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 5.4+ KB
None
                   product_name          price         rom    display  \
count                        96      96.000000          96  96.000000
unique                       18            NaN           6        NaN
top     Apple iPhone 17 Pro Max            NaN  256 GB ROM        NaN
freq                         12            NaN          38        NaN
mean                        NaN  107078.125000         NaN  16.191875
std                         NaN   44921.916356         NaN   1.026484
min                         NaN   39900.000000         NaN  11.940000
25%                         NaN   69900.000000         NaN  15.490000
50%                         NaN   89900.000000         NaN  16.000000
75%                         NaN  134900.000000         NaN  17.020000
max                         NaN  229900.000000         NaN  17.530000

           camera                     product_processor  color
count   96.000000                                    96     96
unique        NaN                                    10     26
top           NaN  A19 Chip, 6 Core Processor Processor  Black
freq          NaN                                    40     10
mean    41.625000                                   NaN    NaN
std     13.814752                                   NaN    NaN
min     12.000000                                   NaN    NaN
25%     48.000000                                   NaN    NaN
50%     48.000000                                   NaN    NaN
75%     48.000000                                   NaN    NaN
max     48.000000                                   NaN    NaN
Missing Values:
 product_name         0
price                0
rom                  0
display              0
camera               0
product_processor    0
color                0
dtype: int64
Duplicates: 0
Shape: (96, 7)
Products: Removed 0 duplicate rows

Products Missing Value Summary (Before Cleaning):
product_id      0
product_name    0
category_id     0
launch_date     0
price           0
dtype: int64
Products: Missing values handled

===== Products Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    89 non-null     object
 1   product_name  89 non-null     object
 2   category_id   89 non-null     object
 3   launch_date   89 non-null     datetime64[ns]
 4   price         89 non-null     int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 3.6+ KB
None
       product_id  product_name category_id                    launch_date  \
count          89            89          89                             89
unique         89            88          10                            NaN
top           P-1  HomePod mini      CAT-10                            NaN
freq            1             2          14                            NaN
mean          NaN           NaN         NaN  2022-04-22 15:06:04.044943872
min           NaN           NaN         NaN            2020-01-01 00:00:00
25%           NaN           NaN         NaN            2020-12-15 00:00:00
50%           NaN           NaN         NaN            2022-04-05 00:00:00
75%           NaN           NaN         NaN            2023-08-26 00:00:00
max           NaN           NaN         NaN            2024-11-04 00:00:00
std           NaN           NaN         NaN                            NaN

              price
count     89.000000
unique          NaN
top             NaN
freq            NaN
mean    1078.078652
min      231.000000
25%      623.000000
50%     1149.000000
75%     1436.000000
max     1965.000000
std      501.628059
Missing Values:
 product_id      0
product_name    0
category_id     0
launch_date     0
price           0
dtype: int64
Duplicates: 0
Shape: (89, 5)

C:\Users\DELL 3420\AppData\Local\Temp\ipykernel_10728\4155940401.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_datetime(df[col], errors="ignore")

Sales: Removed 0 duplicate rows

Sales Missing Value Summary (Before Cleaning):
sale_id       0
sale_date     0
store_id      0
product_id    0
quantity      0
dtype: int64
Sales: Missing values handled

C:\Users\DELL 3420\AppData\Local\Temp\ipykernel_10728\4155940401.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_datetime(df[col], errors="ignore")
C:\Users\DELL 3420\AppData\Local\Temp\ipykernel_10728\4155940401.py:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df[col] = pd.to_datetime(df[col], errors="ignore")

===== Sales Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1040200 entries, 0 to 1040199
Data columns (total 5 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   sale_id     1040200 non-null  object
 1   sale_date   1040200 non-null  datetime64[ns]
 2   store_id    1040200 non-null  object
 3   product_id  1040200 non-null  object
 4   quantity    1040200 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 39.7+ MB
None
        sale_id                      sale_date store_id product_id  \
count   1040200                        1040200  1040200    1040200
unique  1040200                            NaN       75         89
top     FJ-0643                            NaN    ST-30       P-60
freq          1                            NaN    14113      11893
mean        NaN  2022-06-07 16:51:18.598731776      NaN        NaN
min         NaN            2020-01-01 00:00:00      NaN        NaN
25%         NaN            2021-03-20 00:00:00      NaN        NaN
50%         NaN            2022-06-07 00:00:00      NaN        NaN
75%         NaN            2023-08-27 00:00:00      NaN        NaN
max         NaN            2024-11-12 00:00:00      NaN        NaN
std         NaN                            NaN      NaN        NaN

            quantity
count   1.040200e+06
unique           NaN
top              NaN
freq             NaN
mean    5.500235e+00
min     1.000000e+00
25%     3.000000e+00
50%     5.000000e+00
75%     8.000000e+00
max     1.000000e+01
std     2.874295e+00
Missing Values:
 sale_id       0
sale_date     0
store_id      0
product_id    0
quantity      0
dtype: int64
Duplicates: 0
Shape: (1040200, 5)
Stores: Removed 0 duplicate rows

Stores Missing Value Summary (Before Cleaning):
store_id      0
store_name    0
city          0
country       0
dtype: int64
Stores: Missing values handled

===== Stores Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    75 non-null     object
 1   store_name  75 non-null     object
 2   city        75 non-null     object
 3   country     75 non-null     object
dtypes: object(4)
memory usage: 2.5+ KB
None
       store_id            store_name   city        country
count        75                    75     75             75
unique       75                    69     47             19
top        ST-1  Apple The Dubai Mall  Paris  United States
freq          1                     2      4             15
Missing Values:
 store_id      0
store_name    0
city          0
country       0
dtype: int64
Duplicates: 0
Shape: (75, 4)
Warranty: Removed 0 duplicate rows

Warranty Missing Value Summary (Before Cleaning):
claim_id         0
claim_date       0
sale_id          0
repair_status    0
dtype: int64
Warranty: Missing values handled

===== Warranty Summary =====
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   claim_id       30000 non-null  object
 1   claim_date     30000 non-null  datetime64[ns]
 2   sale_id        30000 non-null  object
 3   repair_status  30000 non-null  object
dtypes: datetime64[ns](1), object(3)
memory usage: 937.6+ KB
None
        claim_id                  claim_date   sale_id repair_status
count      30000                       30000     30000         30000
unique     30000                         NaN     30000             4
top     CL-78522                         NaN  NS-37598   In Progress
freq           1                         NaN         1          7611
mean         NaN  2024-06-07 04:35:42.720000       NaN           NaN
min          NaN         2024-01-01 00:00:00       NaN           NaN
25%          NaN         2024-03-20 00:00:00       NaN           NaN
50%          NaN         2024-06-08 00:00:00       NaN           NaN
75%          NaN         2024-08-25 00:00:00       NaN           NaN
max          NaN         2024-11-12 00:00:00       NaN           NaN
Missing Values:
 claim_id         0
claim_date       0
sale_id          0
repair_status    0
dtype: int64
Duplicates: 0
Shape: (30000, 4)

C:\Users\DELL 3420\AppData\Local\Temp\ipykernel_10728\4155940401.py:4: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_datetime without passing `errors` and catch exceptions explicitly instead
  df[col] = pd.to_datetime(df[col], errors="ignore")

### Check Head of All Cleaned Datasets

In [12]:
check_head(category_cleaned, "Category")
check_head(Iphone_17_cleaned, "Iphone_17")
check_head(products_cleaned, "Products")
check_head(sales_cleaned, "Sales")
check_head(stores_cleaned, "Stores")
check_head(warranty_cleaned, "Warranty")

===== Category | First 5 Rows =====
  category_id category_name
0       CAT-1        Laptop
1       CAT-2         Audio
2       CAT-3        Tablet
3       CAT-4    Smartphone
4       CAT-5      Wearable

===== Iphone_17 | First 5 Rows =====
          product_name   price         rom  display  camera  \
0      Apple iPhone 17   82900  256 GB ROM     16.0      48
1      Apple iPhone 17   82900  256 GB ROM     16.0      48
2      Apple iPhone 17   82900  256 GB ROM     16.0      48
3      Apple iPhone 17   82900  256 GB ROM     16.0      48
4  Apple iPhone 17 Pro  134900  256 GB ROM     16.0      48

                      product_processor      color
0  A19 Chip, 6 Core Processor Processor      Black
1  A19 Chip, 6 Core Processor Processor      White
2  A19 Chip, 6 Core Processor Processor  Mist Blue
3  A19 Chip, 6 Core Processor Processor   Lavender
4  A19 Chip, 6 Core Processor Processor     Silver

===== Products | First 5 Rows =====
  product_id         product_name category_id launch_date  price
0        P-1              MacBook       CAT-1  2023-09-17   1149
1        P-2     MacBook Air (M1)       CAT-1  2023-11-11   1783
2        P-3     MacBook Air (M2)       CAT-1  2020-05-24   1588
3        P-4  MacBook Pro 13-inch       CAT-1  2021-01-17   1351
4        P-5  MacBook Pro 14-inch       CAT-1  2024-05-12    768

===== Sales | First 5 Rows =====
     sale_id  sale_date store_id product_id  quantity
0    YG-8782 2023-06-16    ST-10       P-38        10
1  QX-999001 2022-04-13    ST-63       P-48        10
2   JG-46890 2021-07-05    ST-26       P-79         5
3    XJ-1731 2022-07-20    ST-15       P-24         9
4   FG-95080 2022-03-18    ST-35       P-69         7

===== Stores | First 5 Rows =====
  store_id             store_name           city        country
0     ST-1     Apple Fifth Avenue       New York  United States
1     ST-2     Apple Union Square  San Francisco  United States
2     ST-3  Apple Michigan Avenue        Chicago  United States
3     ST-4        Apple The Grove    Los Angeles  United States
4     ST-5             Apple SoHo       New York  United States

===== Warranty | First 5 Rows =====
   claim_id claim_date    sale_id repair_status
0  CL-58750 2024-01-30    YG-8782     Completed
1   CL-8874 2024-06-25  QX-999001       Pending
2  CL-14486 2024-08-13   JG-46890       Pending
3  CL-42187 2024-09-19    XJ-1731       Pending
4  CL-37590 2024-09-16   FG-95080     Completed

###  Save Cleaned Datasets Separately as Excel

In [13]:
# os.makedirs("cleaned_data", exist_ok=True)

category_cleaned.to_excel("category_cleaned.xlsx", index=False)
Iphone_17_cleaned.to_excel("iphone_17_cleaned.xlsx", index=False)
products_cleaned.to_excel("products_cleaned.xlsx", index=False)
sales_cleaned.to_excel("sales_cleaned.xlsx", index=False)
stores_cleaned.to_excel("stores_cleaned.xlsx", index=False)
warranty_cleaned.to_excel("warranty_cleaned.xlsx", index=False)

print("\nüéâ ALL DATA CLEANED AND SAVED SEPARATELY AS EXCEL FILES SUCCESSFULLY!")

üéâ ALL DATA CLEANED AND SAVED SEPARATELY AS EXCEL FILES SUCCESSFULLY!

### Step 1: Install Required Python Libraries

In [15]:
!pip install mysql-connector-python sqlalchemy

Requirement already satisfied: mysql-connector-python in d:\jupyter\lib\site-packages (9.5.0)
Requirement already satisfied: sqlalchemy in d:\jupyter\lib\site-packages (2.0.39)
Requirement already satisfied: greenlet!=0.4.17 in d:\jupyter\lib\site-packages (from sqlalchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\jupyter\lib\site-packages (from sqlalchemy) (4.12.2)

### Step 2: Connect Python to MySQL

In [16]:
import pandas as pd
from sqlalchemy import create_engine

# MySQL connection
engine = create_engine("mysql+mysqlconnector://root:root@localhost:3306/apple_retail_sales")

### Step 3: Load Cleaned CSVs

In [19]:
import pandas as pd

category_df = pd.read_excel("category_cleaned.xlsx")
products_df = pd.read_excel("products_cleaned.xlsx")
stores_df = pd.read_excel("stores_cleaned.xlsx")
sales_df = pd.read_excel("sales_cleaned.xlsx")
warranty_df = pd.read_excel("warranty_cleaned.xlsx")

### Step 4: Export Data to MySQL Tables

In [19]:
# Insert data into MySQL tables (append mode)
category_df.to_sql("category", con=engine, if_exists="append", index=False)
stores_df.to_sql("stores", con=engine, if_exists="append", index=False)
products_df.to_sql("products", con=engine, if_exists="append", index=False)
sales_df.to_sql("sales", con=engine, if_exists="append", index=False)
warranty_df.to_sql("warranty", con=engine, if_exists="append", index=False)

print("All cleaned datasets exported to MySQL successfully!")

All cleaned datasets exported to MySQL successfully!

In [20]:
import mysql.connector

print(mysql.connector.__version__)

9.5.0

## üìä Pandas Business Questions (with Hints)


### **1Ô∏è‚É£ How many total records are present in the dataset?**  
**Why this matters:** Before any analysis, you must know the dataset size.  
**Hint:** Use a function that gives the number of rows.  
‚û°Ô∏è `len(df)`

In [3]:
len(products_df)

89


### **2Ô∏è‚É£ How many unique products are available in the data?**  
**Why this matters:** Helps understand the variety of items sold.  
**Hint:** Use unique count on the product name column.  
‚û°Ô∏è `df["product_name"].nunique()`

In [20]:
products_df['product_name'].nunique()

88

### **3Ô∏è‚É£ What is the average price of all products?**  
**Why this matters:** Helps understand pricing trends.  
**Hint:** Calculate the mean of the price column.  
‚û°Ô∏è `df["price"].mean()`

In [21]:
print(products_df['price'].mean())

1078.0786516853932

### **4Ô∏è‚É£ What is the highest price among all products?**  
**Why this matters:** Shows premium or flagship items.  
**Hint:** Use the maximum value of the price column.  
‚û°Ô∏è `df["price"].max()`

In [22]:
print(products_df['price'].max())

1965

### **5Ô∏è‚É£ How many products belong to each category?**  
**Why this matters:** Helps identify which categories are strong or weak.  
**Hint:** Group by category and count product IDs.  
‚û°Ô∏è `df.groupby("category_id")["product_id"].count()`

In [27]:
merged_df = pd.merge(products_df, category_df, on='category_id', how='inner')

In [29]:
merged_df.groupby("category_id")["product_id"].count()

category_id
CAT-1     10
CAT-10    14
CAT-2     11
CAT-3     10
CAT-4     13
CAT-5      9
CAT-6      3
CAT-7     10
CAT-8      7
CAT-9      2
Name: product_id, dtype: int64

### **6Ô∏è‚É£ What is the total quantity of items sold?**  
**Why this matters:** Shows total sales volume.  
**Hint:** Add up all values from the ‚Äúquantity‚Äù column.  
‚û°Ô∏è `sales["quantity"].sum()`

In [33]:
print(sales_df['quantity'].sum())

5721344

### **7Ô∏è‚É£ Which category_name generated the highest total price?**  
**Why this matters:** Helps identify top-performing stores.  
**Hint:** Group by store ID ‚Üí sum price ‚Üí sort.  
‚û°Ô∏è `sales.groupby("category_name")["price"].sum()`

In [35]:
sales

           sale_id  sale_date store_id product_id  quantity
0          YG-8782 2023-06-16    ST-10       P-38        10
1        QX-999001 2022-04-13    ST-63       P-48        10
2         JG-46890 2021-07-05    ST-26       P-79         5
3          XJ-1731 2022-07-20    ST-15       P-24         9
4         FG-95080 2022-03-18    ST-35       P-69         7
...            ...        ...      ...        ...       ...
1040195   BU-93576 2023-01-06    ST-38       P-29        10
1040196    ZC-5827 2023-03-30    ST-37       P-31         6
1040197  WP-514458 2022-11-01    ST-65       P-29         9
1040198  OM-043584 2024-03-28    ST-28       P-45         6
1040199    FJ-0643 2022-07-20    ST-50       P-59         1

[1040200 rows x 5 columns]

### **8Ô∏è‚É£ What are the total sales for each month?**  
**Why this matters:** Helps find seasonal or monthly trends.  
**Hint:** Extract month from date column ‚Üí group ‚Üí sum.  
‚û°Ô∏è `df["sale_date"].dt.month`

In [ ]:
category_df = pd.read_excel("category_cleaned.xlsx")
products_df = pd.read_excel("products_cleaned.xlsx")
stores_df = pd.read_excel("stores_cleaned.xlsx")
sales_df = pd.read_excel("sales_cleaned.xlsx")
warranty_df = pd.read_excel("warranty_cleaned.xlsx")

In [43]:
merged_df = pd.merge(category_df,products_df, on = "category_id")

In [46]:
merged_df.groupby("category_name")['price'].sum().reset_index()

          category_name  price
0           Accessories  14422
1                 Audio  12373
2               Desktop   8387
3                Laptop  11941
4         Smart Speaker   1468
5            Smartphone  13488
6      Streaming Device   2990
7  Subscription Service   5763
8                Tablet  14795
9              Wearable  10322

In [36]:
category_df.head()

  category_id category_name
0       CAT-1        Laptop
1       CAT-2         Audio
2       CAT-3        Tablet
3       CAT-4    Smartphone
4       CAT-5      Wearable

In [37]:
products_df.head()

  product_id         product_name category_id launch_date  price
0        P-1              MacBook       CAT-1  2023-09-17   1149
1        P-2     MacBook Air (M1)       CAT-1  2023-11-11   1783
2        P-3     MacBook Air (M2)       CAT-1  2020-05-24   1588
3        P-4  MacBook Pro 13-inch       CAT-1  2021-01-17   1351
4        P-5  MacBook Pro 14-inch       CAT-1  2024-05-12    768

In [38]:
stores_df.head()

  store_id             store_name           city        country
0     ST-1     Apple Fifth Avenue       New York  United States
1     ST-2     Apple Union Square  San Francisco  United States
2     ST-3  Apple Michigan Avenue        Chicago  United States
3     ST-4        Apple The Grove    Los Angeles  United States
4     ST-5             Apple SoHo       New York  United States

In [39]:
sales_df.head()

     sale_id  sale_date store_id product_id  quantity
0    YG-8782 2023-06-16    ST-10       P-38        10
1  QX-999001 2022-04-13    ST-63       P-48        10
2   JG-46890 2021-07-05    ST-26       P-79         5
3    XJ-1731 2022-07-20    ST-15       P-24         9
4   FG-95080 2022-03-18    ST-35       P-69         7

In [40]:
warranty_df.head()

   claim_id claim_date    sale_id repair_status
0  CL-58750 2024-01-30    YG-8782     Completed
1   CL-8874 2024-06-25  QX-999001       Pending
2  CL-14486 2024-08-13   JG-46890       Pending
3  CL-42187 2024-09-19    XJ-1731       Pending
4  CL-37590 2024-09-16   FG-95080     Completed

### **9Ô∏è‚É£ What is the revenue generated by each product?**  
**Why this matters:** Helps identify best-selling items.  
**Hint:** Group by product ID ‚Üí sum total amount.  
‚û°Ô∏è `df.groupby("product_id")["total_amount"].sum()`

In [47]:
merged_df = pd.merge(sales_df,products_df, on = "product_id")

In [49]:
merged_df.groupby('product_id')['price'].sum()

product_id
P-1     13415724
P-10     8617089
P-11     5964336
P-12    21499824
P-13    13737924
          ...
P-86    16222131
P-87    20392592
P-88     7938502
P-89    16922634
P-9     15082064
Name: price, Length: 89, dtype: int64



### **üîü What is the average  quantity?**  
**Why this matters:** Measures customer quantity.  
**Hint:** Take average of the quantity column.  
‚û°Ô∏è `df["quantity"].mean()`

In [51]:
print(sales_df['quantity'].mean())

5.500234570274947